@model Nop.Web.Areas.Admin.Models.Logging.ActivityLogTypeModel

<div class="raw clearfix">
    <div class="col-md-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Nombre</label>
                                <div title="El nombre para identificar el tipo de actividad."
                                     class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Name" />
                            <span asp-validation-for="Name"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">SystemKeyword</label>
                                <div title="El nombre que se usará en el sistema para identificar este tipo de actividad."
                                     class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="SystemKeyword" />
                            <span asp-validation-for="SystemKeyword"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Variable a llenar</label>
                                <div title="La variable a guardar y a usar para este tipo de actividad."
                                     class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="TextValue" />
                            <span asp-validation-for="TextValue"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Activado</label>
                                <div title="Especifica si el tipo de actividad esta activo o no."
                                     class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="Enabled" />
                            <span asp-validation-for="Enabled"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>