@charset "utf-8";

select.ui-choose{display: none;}
ul.ui-choose { box-sizing: border-box; display: inline-block; border: 1px solid transparent; font: 100 16px/30px 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif; border-right: none; border-bottom: none; font-size: 16px; margin: 0; padding: 0; list-style: none; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
ul.ui-choose:after { content: ""; display: table; clear: both; }
ul.ui-choose>li { font-weight: bold;box-sizing: border-box; border: 1px solid #ccc; float: left; height: 23px; line-height: 20px; margin: -1px 0 0 -1px; padding: 0 16px; cursor: pointer; position: relative; z-index: 0; min-width: 20px; text-align: center; }
ul.ui-choose>li:first-child { border-radius: 0; }
ul.ui-choose>li:last-child { border-radius: 0 3px 3px 0; }
ul.ui-choose>li:hover { z-index: 0; border-color: #9cc54d; color: #9cc54d; }
ul.ui-choose>li.selected { color:black; z-index: 0; border-color: #9cc54d; background-color: #9cc54d; color: #000; }
ul.ui-choose>li.disabled { z-index: 0; background-color: #f2f2f2; color: #aaa; cursor: not-allowed; }
ul.ui-choose>li.disabled:hover { border-color: #aaa; }
ul.ui-choose>li.selected.disabled { z-index: 0; background-color: #8FC7FF; color: #fff; cursor: not-allowed; border-color: #8FC7FF; }
/*ul.choose-type-right>li.selected { color: #9cc54d; background: transparent url("./icon-selected.png") no-repeat right bottom; }*/
ul.choose-type-right>li.selected { z-index: 0; border-color: #9cc54d; background-color: #9cc54d; color: #000; }
ul.ui-choose.choose-flex { display: flex; }
ul.ui-choose.choose-flex>li { flex: 1; padding: 0 8px; }