@model Nop.Web.Areas.Admin.Models.Rewards.RewardModel

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <nop-label asp-for="LevelMonthsCount" />
                        </div>
                        <div class="col-md-9">
                            <nop-editor asp-for="LevelMonthsCount" />
                            <span asp-validation-for="LevelMonthsCount"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>