@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("Payroll.MinimumWagesCatalog");
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var controllerName = "MinimumWagesCatalog";
}
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Catálogo de salarios mínimos
        </h1>
        <div class="pull-right">
            <a href="/Admin/MinimumWagesCatalog/Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
        </div>
    </div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="element-grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#element-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ListData", controllerName))",
                        type: "POST",
                        dataType: "json",
                        data: null
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            editable: {
                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "UpdatedDate",
                    title: "Ultima fecha de actualizacion",
                }, {
                    field: "Amount",
                    title: "Monto",
                }, {
                    field: "Year",
                    title: "Año",
                }, {
                    field: "Uma",
                    title: "UMA",
                },
                {
                    field: "Id",
                    title: "Editar",
                    width: 50,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                    template: `<a class="btn btn-success" href="Edit?Id=#=Id#"><i class="fa fa-eye"></i>Editar</a>`
                }
            ]
        });
    });
</script>