@model Teed.Plugin.MarketingDashboard.Models.MarketingExpenses.MarketingExpenseTypeModel
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-3">
                            <div class="label-wrapper">
                                <label class="control-label">Nombre</label>
                                <div title="Ingresa el nombre del tipo de gasto" class="ico-help">
                                    <i class="fa fa-question-circle"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="input-group" style="width:100%">
                                <input class="form-control" asp-for="Name" />
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>