<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    Debes guardar la consulta antes de poder modificar este elemento.
                </div>
            </div>
        </div>
    </div>
</div>