@model Teed.Plugin.Payroll.Models.PayrollEmployee.CreateOrUpdateModel


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
          @Html.Raw(Model.Log)
        </div>
    </div>
</div>