@model Teed.Plugin.Medical.Models.Patients.PatientsModel
@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    Html.SetActiveMenuItemSystemName("TeedMedical.Patients");
    var controllerName = "Patient";
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
}
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div id="past-appointment-grid"></div>
                        <script type="text/javascript">
                        $(document).ready(function() {
                            $("#past-appointment-grid").kendoGrid({
                                dataSource: {
                                    type: "json",
                                    transport: {
                                        read: {
                                            url: "@Html.Raw(Url.Action("PatientPastAppointments", controllerName, new { id = Model.Id }))",
                                            type: "POST",
                                            dataType: "json"
                                        }
                                    },
                                    schema: {
                                        data: "Data",
                                        total: "Total",
                                        errors: "Errors"
                                    },
                                    error: function(e) {
                                        display_kendoui_grid_error(e);
                                        // Cancel the changes
                                        this.cancelChanges();
                                    },
                                    pageSize: @(defaultGridPageSize),
                                    serverPaging: true,
                                    serverFiltering: true,
                                    serverSorting: true
                                },
                                pageable: {
                                    refresh: true,
                                    pageSizes: [@(gridPageSizes)],
                                    @await Html.PartialAsync("_GridPagerMessages")
                                },
                                editable: {
                                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                    mode: "inline"
                                },
                                scrollable: false,
                                columns: [
                                    {
                                        field: "AppointmentDate",
                                        title: "Día de la cita",
                                        template: '<a href="/Admin/Appointment/Details/#=Id#">#=AppointmentDate# - #=AppointmentTime#</a>'
                                    },
                                    {
                                        field: "Doctor",
                                        title: "Doctor"
                                    },
                                    {
                                        field: "Branch",
                                        title: "Sucursal"
                                    }
                                ]
                            });
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>