@model Teed.Plugin.CustomPages.Models.CustomPages.EditViewModel
<div class="panel panel-default">
    <div class="panel-heading">
        Activar collage
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3 text-right">
                <label>Activado</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="CollageEnable" />
                <span asp-validation-for="CollageEnable"></span>
            </div>
        </div>
    </div>
    <div class="panel-heading">
        Imagenes para el collage
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture19Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture19Id" />
                    <span asp-validation-for="CollagePicture19Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink19" />
                    <span asp-validation-for="CollageLink19"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture20Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture20Id" />
                    <span asp-validation-for="CollagePicture20Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink20" />
                    <span asp-validation-for="CollageLink20"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture21Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture21Id" />
                    <span asp-validation-for="CollagePicture21Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink21" />
                    <span asp-validation-for="CollageLink21"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture22Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture22Id" />
                    <span asp-validation-for="CollagePicture22Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink22" />
                    <span asp-validation-for="CollageLink22"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture23Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture23Id" />
                    <span asp-validation-for="CollagePicture23Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink23" />
                    <span asp-validation-for="CollageLink23"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture24Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture24Id" />
                    <span asp-validation-for="CollagePicture24Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink24" />
                    <span asp-validation-for="CollageLink24"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture25Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture25Id" />
                    <span asp-validation-for="CollagePicture25Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink25" />
                    <span asp-validation-for="CollageLink25"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture26Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture26Id" />
                    <span asp-validation-for="CollagePicture26Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink26" />
                    <span asp-validation-for="CollageLink26"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture27Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture27Id" />
                    <span asp-validation-for="CollagePicture27Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink27" />
                    <span asp-validation-for="CollageLink27"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture28Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture28Id" />
                    <span asp-validation-for="CollagePicture28Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink28" />
                    <span asp-validation-for="CollageLink28"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture29Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture29Id" />
                    <span asp-validation-for="CollagePicture29Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink29" />
                    <span asp-validation-for="CollageLink29"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture30Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture30Id" />
                    <span asp-validation-for="CollagePicture30Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink30" />
                    <span asp-validation-for="CollageLink30"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture31Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture31Id" />
                    <span asp-validation-for="CollagePicture31Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink31" />
                    <span asp-validation-for="CollageLink31"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture32Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture32Id" />
                    <span asp-validation-for="CollagePicture32Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink32" />
                    <span asp-validation-for="CollageLink32"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture33Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture33Id" />
                    <span asp-validation-for="CollagePicture33Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink33" />
                    <span asp-validation-for="CollageLink33"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture34Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture34Id" />
                    <span asp-validation-for="CollagePicture34Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink34" />
                    <span asp-validation-for="CollageLink34"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture35Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture35Id" />
                    <span asp-validation-for="CollagePicture35Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink35" />
                    <span asp-validation-for="CollageLink35"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture36Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture36Id" />
                    <span asp-validation-for="CollagePicture36Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink36" />
                    <span asp-validation-for="CollageLink36"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture37Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture37Id" />
                    <span asp-validation-for="CollagePicture37Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink37" />
                    <span asp-validation-for="CollageLink37"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-md-4">
                    <nop-label asp-for="CollagePicture38Id" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollagePicture38Id" />
                    <span asp-validation-for="CollagePicture38Id"></span>
                </div>
                <div class="col-md-4 text-right">
                    <label>URL</label>
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CollageLink38" />
                    <span asp-validation-for="CollageLink38"></span>
                </div>
            </div>
        </div>
    </div>
</div>
