@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="section hide-on-med-and-down">
        <h5>@T("Categories")</h5>
        
        <div class="listbox">
            <ul class="categories-navigation collection">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}