@model LogoModel
<div class="show-on-medium-and-down hide-on-med-and-up">
    <a id="logo-container" href="/" class="brand-logo">
        <img title="" alt="@Model.StoreName" src="@Model.LogoPath" />
    </a>
</div>
<div class="row hide-on-med-and-down logo-banner" style="margin-bottom:0" >
    <div class="col m6">
        <a id="logo-container" href="/" class="brand-logo">
            <img title="" alt="@Model.StoreName" src="@Model.LogoPath" id="logo-image" />
        </a>
    </div>
</div>
