<div class="btn-group pull-right">
    <button type="submit" class="btn bg-olive" asp-controller="Order" asp-action="ReportShippingForDay" method="post" style="margin-right: 6px; margin-left: 5px;">
        <i class="fa fa-file-excel-o"></i>
        Exportar clientes del día
    </button>
</div>