@model Teed.Nop.Plugin.Widgets.NivoSlider2.Models.ConfigurationModel
@{
    var imageNote = "Se recomienda que la imagen cargada sea de 1920x550 píxeles.";
}
<div class="panel panel-default">
    <div class="panel-heading">
        Activar notificación
    </div>
    <div class="panel-body">
        <div class="col-md-3 text-right">
            <nop-override-store-checkbox asp-for="PopUpEnable_OverrideForStore" asp-input="PopUpEnable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
            <label>Activado</label>
        </div>
        <div class="col-md-9">
            <nop-editor asp-for="PopUpEnable" />
            <span asp-validation-for="PopUpEnable"></span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen para escritorio
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Picture39Id_OverrideForStore" asp-input="Picture39Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Picture39Id" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Picture39Id" />
                <span asp-validation-for="Picture39Id"></span>
                <em>@imageNote</em>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        Imagen para móviles
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3">
                <nop-override-store-checkbox asp-for="Picture39ResponsiveId_OverrideForStore" asp-input="Picture39ResponsiveId" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <nop-label asp-for="Picture39ResponsiveId" />
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="Picture39ResponsiveId" />
                <span asp-validation-for="Picture39ResponsiveId"></span>
                <em>Se recomienda que la imagen cargada sea de 640 x 960 píxeles.</em>
            </div>
        </div>
    </div>
</div>
