@model Teed.Nop.Plugin.Widgets.NivoSlider2.Models.ConfigurationModel

<div class="panel panel-default">
    <div class="panel-heading">
        Manufacturer
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="col-md-3 text-right">
                <nop-override-store-checkbox asp-for="ManufacturerEnable_OverrideForStore" asp-input="ManufacturerEnable" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <label>Activado</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="ManufacturerEnable" />
                <span asp-validation-for="ManufacturerEnable"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 text-right">
                <nop-override-store-checkbox asp-for="TitleManufacturer_OverrideForStore" asp-input="TitleManufacturer" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                <label>Título de la página</label>
            </div>
            <div class="col-md-9">
                <nop-editor asp-for="TitleManufacturer" />
                <span asp-validation-for="TitleManufacturer"></span>
            </div>
        </div>
    </div>
</div>