@model Teed.Plugin.Medical.Models.Appointment.AppointmentEditModel
@{
    
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="content">
                        <div class="form-horizontal" style="white-space: pre-line">
                            @Model.Note
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>