@model Teed.Plugin.Groceries.Models.Franchise.PenaltyCatalogModel

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div style="margin-bottom:3%" asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="Id" hidden />
                        <div style="padding: 2em; background-color: #ffe7e7; margin-bottom: 2em;">
                            @if (Model.Id > 0)
                            {
                                <strong>
                                    Si se modifica el código de penalización, el monto, o la fecha a partir de la que aplica, se recalcularán todas las incidencias cuya fecha sea mayor o igual a la "fecha a partir de la que aplica" seleccionada.
                                </strong>
                            }
                            else
                            {
                                <strong>
                                    Al crear una nueva penalización se recalcularán todas las incidencias cuya fecha sea mayor o igual a la "fecha a partir de la que aplica" seleccionada.
                                </strong>
                            }
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label>Código de monto</label>
                            </div>
                            <div class="col-md-9">
                                <select id="PenaltyCustomId" name="PenaltyCustomId" class="form-control" asp-for="PenaltyCustomId">
                                    <option value="I01">I01</option>
                                    <option value="I02">I02</option>
                                    <option value="I03">I03</option>
                                    <option value="I04">I04</option>
                                    <option value="GPS">GPS</option>
                                </select>
                                <span asp-validation-for="PenaltyCustomId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label>Concepto</label>
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Concepto" />
                                <span asp-validation-for="Concepto" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label>Unidad</label>
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Unit" />
                                <span asp-validation-for="Unit" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label>Monto</label>
                            </div>
                            <div class="col-md-9">
                                <nop-editor asp-for="Amount" />
                                <span asp-validation-for="Amount" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label>Fecha a partir de que aplica</label>
                            </div>
                            <div class="col-md-9">
                                <input type="hidden" id="dateinput" asp-for="ApplyDateString" />
                                <input type="text" id="datepicker" class="form-control" value="@(Model.ApplyDateString)">
                            </div>
                        </div>
                        <script>
                            $("#datepicker").datepicker({
                                dateFormat: "dd-mm-yy",
                                defaultDate: '@(Model.ApplyDateString)',
                                onSelect: function (dateVal) {
                                    let dateArray = dateVal.split("-");
                                    let day = dateArray[0];
                                    let month = parseInt(dateArray[1]) - 1;
                                    let year = dateArray[2];
                                    console.log(formatDate(new Date(year, month, day)));
                                    $("#dateinput").val(formatDate(new Date(year, month, day)));
                                },
                            });

                            function formatDate(date) {
                                let year = date.getFullYear();
                                let month = date.getMonth() + 1;
                                let day = date.getDate();

                                let parsedMonth = month < 10 ? "0" + month : month;
                                let parsedDay = day < 10 ? "0" + day : day;

                                return parsedDay + "-" + parsedMonth + "-" + year;
                            }
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>