@model Teed.Plugin.Groceries.Models.UrbanPromoter.UrbanPromoterModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body" style="display: grid;">
            <div id="orders-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#orders-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ListPromoterOrders", "UrbanPromoter"))?id=@Model.Id",
                                    type: "POST",
                                    dataType: "json",
                                    data: null
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 10,
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [10],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "SelectedShippingDate",
                                title: "Fecha",
                            },
                            {
                                field: "CustomerId",
                                title: "Cliente",
                                template: function (dataItem) {
                                    return '<a target="_blank" href="/Admin/Customer/Edit/' + dataItem.CustomerId + '">' + dataItem.CustomerEmail + "</a>";
                                },
                            },
                            {
                                field: "Id",
                                title: "# de la orden",
                                template: function (dataItem) {
                                    return '<a target="_blank" href="/Admin/Order/Edit/' + dataItem.Id + '">#' + dataItem.Id + "</a>";
                                },
                            },
                            {
                                field: "TotalAmount",
                                title: "Monto de la orden",
                            },
                            {
                                field: "Status",
                                title: "Estatus de la orden",
                                attributes: { style: "text-align:center" },
                                template: '<span class="grid-report-item ' +
                                    '# if(StatusId == 10) {# yellow #} #' +
                                    '# if(StatusId == 20) {# blue #} #' +
                                    '# if(StatusId == 30) {# green #} #' +
                                    '# if(StatusId == 40) {# red #} #' +
                                    '">#=Status#</span>'
                            },
                            {
                                field: "Comission",
                                title: "Comisión",
                            }
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>