@model Teed.Plugin.Groceries.Models.UrbanPromoter.UrbanPromoterModel

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body" style="display: grid;">
            <div id="coupons-grid"></div>

            <script>
                $(document).ready(function () {
                    $("#coupons-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ListPromoterCoupons", "UrbanPromoter"))?id=@Model.Id",
                                    type: "POST",
                                    dataType: "json",
                                    data: null
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("PromoterCouponDelete", "UrbanPromoter"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            pageSize: 10,
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        pageable: {
                            refresh: true,
                            pageSizes: [10],
                            @await Html.PartialAsync("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "Id",
                                template: "<span data-id='#=Id#'></span>",
                                hidden: true
                            },
                            {
                                field: "CouponId",
                                title: "Cupón",
                                template: function (dataItem) {
                                    return '<a target="_blank" href="/Admin/Discount/Edit/' + dataItem.CouponId + '">#' + dataItem.CouponName + "</a>";
                                },
                            },
                            {
                                field: "CouponCode",
                                title: "Código del cupón",
                            },
                            {
                                command: [
                                    {
                                        name: "destroy",
                                        text: "Borrar"
                                    }
                                ],
                                width: 200
                            }
                        ]
                    });
                });
            </script>
        </div>
    </div>
</div>