@model Teed.Plugin.Medical.Models.Prescription.PrescriptionsModel
@{
    Html.SetActiveMenuItemSystemName("TeedMedical.Prescriptions");
    var now = DateTime.Now;
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    Debes guardar la receta antes de poder agregar medicamentos o tratamientos.
                </div>
            </div>
        </div>
    </div>
</div>