@model Teed.Plugin.Medical.Models.Note.NotesModel
@{
    Html.SetActiveMenuItemSystemName("TeedMedical.Prescriptions");
    var now = DateTime.Now;
    var patients = (IEnumerable<Teed.Plugin.Medical.Domain.Patient>)ViewData["Patients"];
    var selectedUser = (int)ViewData["SelectedUser"];
}

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <div style="margin-bottom:3%" asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-3 text-right">
                                <label for="PatientId">Paciente</label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="PatientId" type="hidden" id="patientId" />
                                <input id="patients" style="width: 100%;" />
                                <script>
                                    $(document).ready(function () {
                                        $("#patients").kendoComboBox({
                                            placeholder: "Selecciona al paciente...",
                                            dataTextField: "Patient",
                                            dataValueField: "Id",
                                            filter: "contains",
                                            autoBind: true,
                                            minLength: 1,
                                            dataSource: {
                                                type: "json",
                                                transport: {
                                                    read: {
                                                        url: "@Html.Raw(Url.Action("PatientListData", "Prescription"))",
                                                        type: "POST",
                                                        data: addAntiForgeryToken
                                                    }
                                                }
                                            },
                                            dataBound: onDataBound,
                                            select: onSelect,
                                            change: onChange
                                        });
                                        function onDataBound(e) {
                                            if (@selectedUser != 0 && !$("#patientId").val()) {
                                                $("#patients").data("kendoComboBox").value(@selectedUser);
                                                $("#patientId").val(@selectedUser);
                                            }
                                        };
                                        function onSelect(e) {
                                            $("#patientId").val(this.dataItem(e.item.index()).Id);
                                        };
                                        function onChange(e) {
                                            if (this.selectedIndex == -1) {
                                                $("#patients").data("kendoComboBox").value("");
                                            }
                                        };
                                    });
                                </script>
                                <span asp-validation-for="PatientId"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3 text-right">
                                <label for="Text">Nota</label>
                            </div>
                            <div class="col-md-9">
                                <textarea asp-for="Text" class="form-control"></textarea>
                                <span asp-validation-for="Text" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>