@inject Nop.Core.Domain.Common.AdminAreaSettings adminAreaSettings
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("TeedCornerForm.Answers");
    var gridPageSizes = adminAreaSettings.GridPageSizes;
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var controllerName = "CornerForm";
}
<div class="content-header clearfix">
    <h1 class="pull-left">
        Lista de respuesta a formularios
    </h1>
    <div class="pull-right">
        <a asp-action="ExportAnswers" class="btn bg-blue">
            <i class="fa fa-file-excel-o"></i>
            Exportar
        </a>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="element-grid"></div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#element-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("ListData", controllerName))",
                        type: "POST",
                        dataType: "json",
                        data: null
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @await Html.PartialAsync("_GridPagerMessages")
            },
            editable: {
                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                mode: "inline"
            },
            scrollable: false,
            columns: [
                {
                    field: "CreateDate",
                    title: "Fecha",
                },
                {
                    field: "QuestionText",
                    title: "Pregunta",
                },
                {
                    field: "AnswerText",
                    title: "Respuesta",
                },
            ]
        });
    });
</script>