@model bool

@if(Model)
{   
    <button type="button" class="btn btn-success pull-right" style="margin-right: 3px;">
        <a href="/GenerateExcelUserNewsletter" class="btn-success">
            <i class="fa fa-file-excel-o"></i>
            Descargar datos de cliente
        </a>
    </button>
}
