@model Teed.Plugin.Groceries.Models.ShippingRegion.CreateEditViewModel
@{
    Layout = "_AdminLayout";
    Html.SetActiveMenuItemSystemName("Groceries.ShippingRegion");
}
<style>
    #map {
        height: 600px;
    }
</style>
<form method="post" enctype="multipart/form-data">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            Agregar nueva región
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">regresar a la lista de regiones</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.Save")
            </button>
        </div>
    </div>
    @await Html.PartialAsync("~/Plugins/Teed.Plugin.Groceries/Views/ShippingRegion/_CreateOrUpdate.cshtml", Model)
</form>