@model Teed.Plugin.TicketControl.Models.DatePersonalization.CreateOrEditModel


<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Raw(Model.Log.Replace("\n", "<br />"))
        </div>
    </div>
</div>